
Depreciation/.vs/Depreciation/v16/.suo
Depreciation/.vs/Depreciation/v16/Server/sqlite3/db.lock
Depreciation/.vs/Depreciation/v16/Server/sqlite3/storage.ide
Depreciation/.vs/Depreciation/v16/Server/sqlite3/storage.ide-shm
Depreciation/.vs/Depreciation/v16/Server/sqlite3/storage.ide-wal
Depreciation/Depreciation/bin/Debug/Depreciation.exe
Depreciation/Depreciation/bin/Debug/Depreciation.exe.config
Depreciation/Depreciation/bin/Debug/Depreciation.pdb
Depreciation/Depreciation/bin/Debug/Depreciation.xml
Depreciation/Depreciation/obj/Debug/Depreciation.exe
Depreciation/Depreciation/obj/Debug/Depreciation.frmDepreciation.resources
Depreciation/Depreciation/obj/Debug/Depreciation.pdb
Depreciation/Depreciation/obj/Debug/Depreciation.Resources.resources
Depreciation/Depreciation/obj/Debug/Depreciation.vbproj.CoreCompileInputs.cache
Depreciation/Depreciation/obj/Debug/Depreciation.vbproj.FileListAbsolute.txt
Depreciation/Depreciation/obj/Debug/Depreciation.vbproj.GenerateResource.cache
Depreciation/Depreciation/obj/Debug/Depreciation.vbprojAssemblyReference.cache
Depreciation/Depreciation/obj/Debug/Depreciation.xml
Depreciation/Depreciation/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Depreciation/Depreciation/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Depreciation/Depreciation/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
