
Depreciation/.vs/Depreciation/v16/.suo
Depreciation/.vs/Depreciation/v16/Server/sqlite3/db.lock
Depreciation/.vs/Depreciation/v16/Server/sqlite3/storage.ide
Depreciation/.vs/Depreciation/v16/Server/sqlite3/storage.ide-shm
Depreciation/.vs/Depreciation/v16/Server/sqlite3/storage.ide-wal
Depreciation/Depreciation/bin/Debug/Depreciation.exe
Depreciation/Depreciation/bin/Debug/Depreciation.exe.config
Depreciation/Depreciation/bin/Debug/Depreciation.pdb
Depreciation/Depreciation/bin/Debug/Depreciation.xml
Depreciation/Depreciation/obj/Debug/Depreciation.exe
Depreciation/Depreciation/obj/Debug/Depreciation.frmDepreciation.resources
Depreciation/Depreciation/obj/Debug/Depreciation.pdb
Depreciation/Depreciation/obj/Debug/Depreciation.Resources.resources
Depreciation/Depreciation/obj/Debug/Depreciation.vbproj.CoreCompileInputs.cache
Depreciation/Depreciation/obj/Debug/Depreciation.vbproj.FileListAbsolute.txt
Depreciation/Depreciation/obj/Debug/Depreciation.vbproj.GenerateResource.cache
Depreciation/Depreciation/obj/Debug/Depreciation.vbprojAssemblyReference.cache
Depreciation/Depreciation/obj/Debug/Depreciation.xml
Depreciation/Depreciation/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Depreciation/Depreciation/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Depreciation/Depreciation/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
Smart Home Monthly Electric Savings/.vs/Smart Home Monthly Electric Savings/v16/.suo
Smart Home Monthly Electric Savings/.vs/Smart Home Monthly Electric Savings/v16/Server/sqlite3/db.lock
Smart Home Monthly Electric Savings/.vs/Smart Home Monthly Electric Savings/v16/Server/sqlite3/storage.ide-shm
Smart Home Monthly Electric Savings/.vs/Smart Home Monthly Electric Savings/v16/Server/sqlite3/storage.ide
Smart Home Monthly Electric Savings/.vs/Smart Home Monthly Electric Savings/v16/Server/sqlite3/storage.ide-wal
Smart Home Monthly Electric Savings/Smart Home Monthly Electric Savings/bin/Debug/Smart Home Monthly Electric Savings.exe
Smart Home Monthly Electric Savings/Smart Home Monthly Electric Savings/bin/Debug/Smart Home Monthly Electric Savings.exe.config
Smart Home Monthly Electric Savings/Smart Home Monthly Electric Savings/bin/Debug/Smart Home Monthly Electric Savings.pdb
Smart Home Monthly Electric Savings/Smart Home Monthly Electric Savings/bin/Debug/Smart Home Monthly Electric Savings.xml
Smart Home Monthly Electric Savings/Smart Home Monthly Electric Savings/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Smart Home Monthly Electric Savings/Smart Home Monthly Electric Savings/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Smart Home Monthly Electric Savings/Smart Home Monthly Electric Savings/obj/Debug/Smart Home Monthly Electric Savings.exe
Smart Home Monthly Electric Savings/Smart Home Monthly Electric Savings/obj/Debug/Smart Home Monthly Electric Savings.pdb
Smart Home Monthly Electric Savings/Smart Home Monthly Electric Savings/obj/Debug/Smart Home Monthly Electric Savings.vbproj.CoreCompileInputs.cache
Smart Home Monthly Electric Savings/Smart Home Monthly Electric Savings/obj/Debug/Smart Home Monthly Electric Savings.vbproj.FileListAbsolute.txt
Smart Home Monthly Electric Savings/Smart Home Monthly Electric Savings/obj/Debug/Smart Home Monthly Electric Savings.vbproj.GenerateResource.cache
Smart Home Monthly Electric Savings/Smart Home Monthly Electric Savings/obj/Debug/Smart Home Monthly Electric Savings.xml
Smart Home Monthly Electric Savings/Smart Home Monthly Electric Savings/obj/Debug/Smart Home Monthly Electric Savings.vbprojAssemblyReference.cache
Smart Home Monthly Electric Savings/Smart Home Monthly Electric Savings/obj/Debug/Smart_Home_Monthly_Electric_Savings.frmSmartHome.resources
Smart Home Monthly Electric Savings/Smart Home Monthly Electric Savings/obj/Debug/Smart_Home_Monthly_Electric_Savings.Resources.resources
Smart Home Monthly Electric Savings/Smart Home Monthly Electric Savings/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
Dance Band/.vs/Dance Band/v16/.suo
Dance Band/.vs/Dance Band/v16/Server/sqlite3/db.lock
Dance Band/.vs/Dance Band/v16/Server/sqlite3/storage.ide
Dance Band/.vs/Dance Band/v16/Server/sqlite3/storage.ide-shm
Dance Band/.vs/Dance Band/v16/Server/sqlite3/storage.ide-wal
Dance Band/Dance Band/bin/Debug/Dance Band.exe
Dance Band/Dance Band/bin/Debug/Dance Band.exe.config
Dance Band/Dance Band/bin/Debug/Dance Band.pdb
Dance Band/Dance Band/bin/Debug/Dance Band.xml
Dance Band/Dance Band/obj/Debug/Dance Band.exe
Dance Band/Dance Band/obj/Debug/Dance Band.pdb
Dance Band/Dance Band/obj/Debug/Dance Band.vbproj.CoreCompileInputs.cache
Dance Band/Dance Band/obj/Debug/Dance Band.vbproj.FileListAbsolute.txt
Dance Band/Dance Band/obj/Debug/Dance Band.vbproj.GenerateResource.cache
Dance Band/Dance Band/obj/Debug/Dance Band.vbprojAssemblyReference.cache
Dance Band/Dance Band/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
Dance Band/Dance Band/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Dance Band/Dance Band/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Dance Band/Dance Band/obj/Debug/Dance_Band.Resources.resources
Dance Band/Dance Band/obj/Debug/Dance_Band.frmDanceBand.resources
Dance Band/Dance Band/obj/Debug/Dance Band.xml
Dance Band/.vs/slnx.sqlite
Dance Band/Dance Band/obj/Release/Dance Band.vbproj.CoreCompileInputs.cache
Dance Band/.vs/ProjectSettings.json
Most Popular Games Sold/.vs/Most Popular Games Sold/v16/.suo
Most Popular Games Sold/.vs/Most Popular Games Sold/v16/Server/sqlite3/db.lock
Most Popular Games Sold/.vs/Most Popular Games Sold/v16/Server/sqlite3/storage.ide
Most Popular Games Sold/.vs/Most Popular Games Sold/v16/Server/sqlite3/storage.ide-shm
Most Popular Games Sold/.vs/Most Popular Games Sold/v16/Server/sqlite3/storage.ide-wal
Most Popular Games Sold/Most Popular Games Sold/bin/Debug/Most Popular Games Sold.exe
Most Popular Games Sold/Most Popular Games Sold/bin/Debug/Most Popular Games Sold.exe.config
Most Popular Games Sold/Most Popular Games Sold/bin/Debug/Most Popular Games Sold.pdb
Most Popular Games Sold/Most Popular Games Sold/bin/Debug/Most Popular Games Sold.xml
Most Popular Games Sold/Most Popular Games Sold/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Most Popular Games Sold/Most Popular Games Sold/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Most Popular Games Sold/Most Popular Games Sold/obj/Debug/Most Popular Games Sold.exe
Most Popular Games Sold/Most Popular Games Sold/obj/Debug/Most Popular Games Sold.pdb
Most Popular Games Sold/Most Popular Games Sold/obj/Debug/Most Popular Games Sold.vbproj.CoreCompileInputs.cache
Most Popular Games Sold/Most Popular Games Sold/obj/Debug/Most Popular Games Sold.vbproj.FileListAbsolute.txt
Most Popular Games Sold/Most Popular Games Sold/obj/Debug/Most Popular Games Sold.vbproj.GenerateResource.cache
Most Popular Games Sold/Most Popular Games Sold/obj/Debug/Most Popular Games Sold.vbprojAssemblyReference.cache
Most Popular Games Sold/Most Popular Games Sold/obj/Debug/Most_Popular_Games_Sold.frmGames.resources
Most Popular Games Sold/Most Popular Games Sold/obj/Debug/Most_Popular_Games_Sold.Resources.resources
Most Popular Games Sold/Most Popular Games Sold/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
